#[svn]
#/home/xumingtao/share/Marvell/03_Code/03_PO9041/01_svn_po9041/po9041_trunk
#/home/xumingtao/share/Marvell/03_Code/01_HO9021/hm9028-sp4
#/home/xumingtao/share/Marvell/03_Code/02_HO9032/HO9032

#docs
/home/xumingtao/share/DocSvn/04项目资料/
/home/xumingtao/share/DocSvn/Internal\ Training\ Doc/

#YO9083, CP8106
/home/xumingtao/share/Marvell/04_Repository/02_PXA1908/pxa1908/branches/YO9083/docs

#ZQ9077
#/home/xumingtao/share/Marvell/03_Code/05_ZQ9077/02_build_zq9077/zq9077_trunk

#LJ50V00
/home/xumingtao/share/Marvell/04_Repository/02_PXA1908/pxa1908/branches/ZQ9077/docs

#PXA1908 DOC
/home/xumingtao/share/Marvell/04_Repository/02_PXA1908/pxa1908/docs

#[git-svn]
#/home/xumingtao/share/Marvell/03_Code/03_PO9041/02_git_po9041/po9041_trunk
#svn code backup
/home/xumingtao/share/Marvell/06_git_backup/02_lj50v00/zq9077_trunk

#[git]
/home/xumingtao/share/GIT/git
